<form action="" ng-controller="EditSquareCtrl as EditSquare">
	
	<div>
		<h3>id: {{EditSquare.UpdateSquare._id}}</h3>
		<h4>left: {{EditSquare.UpdateSquare.left}}</h4>
		<h4>top: {{EditSquare.UpdateSquare.top}}</h4>
		<h4>fill: {{EditSquare.UpdateSquare.fill}}</h4>
		<h4>width: {{EditSquare.UpdateSquare.width}}</h4>
		<h4>height: {{EditSquare.UpdateSquare.height}}</h4>
	</div>

	<div class="form-group">
		<!-- <label for="xpos"></label> -->
		<input type="text" id="xpos" ng-model="EditSquare.UpdateSquare.left" class="form-control" placeholder="x-coordinate">
	</div>
	<div class="form-group">
		<!-- <label for="ypos"></label> -->
		<input type="text" id="ypos" ng-model="EditSquare.UpdateSquare.top" class="form-control" placeholder="y-coordinate">
	</div>
	<div class="form-group">
		<!-- <label for="fill"></label> -->
		<input type="text" id="fill" ng-model="EditSquare.UpdateSquare.fill" class="form-control" placeholder="select a color">
	</div>
	<div class="form-group">
		<!-- <label for="width"></label> -->
		<input type="text" id="width" ng-model="EditSquare.UpdateSquare.width" class="form-control" placeholder="width">
	</div>
	<div class="form-group">
		<!-- <label for="height"></label> -->
		<input type="text" id="height" ng-model="EditSquare.UpdateSquare.height" class="form-control" placeholder="height">
	</div>
	<button class="btn btn-success" ng-Click="EditSquare.save(EditSquare.UpdateSquare)">Edit square</button>

</form>